# Credenciales locales de observabilidad (Langfuse)
LANGFUSE_SECRET_KEY="sk-"
LANGFUSE_PUBLIC_KEY="pk-"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

# OpenRouter API Key
OPENROUTER_API_KEY="sk-"

# Github token
GITHUB_TOKEN=